{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signup" method="post" action="{% url 'accounts:signup' %}">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Welcom to my page <br> Pleas sign up</h1>
      {{form.as_p}}

      {{ msg }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <div class="checkbox mb-3">
        <br>
                <p>do have account?</p>
        <a role="button" class="btn btn-outline-warning" href="{% url 'accounts:login' %}" >Login</a> <br>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2025-2026</p>
    </form>
  </body>
</html>
